<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Studentsreg</servlet-name>
        <servlet-class>studentregistrationdetail.Studentsreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentreg</servlet-name>
        <servlet-class>studentregistrationdetail.ViewStudentreg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewspecificrecord</servlet-name>
        <servlet-class>studentregistrationdetail.Viewspecificrecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSpecificServlet</servlet-name>
        <servlet-class>studentregistrationdetail.DeleteSpecificServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudetail</servlet-name>
        <servlet-class>studentregistrationdetail.UpdateStudetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginverification</servlet-name>
        <servlet-class>studentregistrationdetail.Loginverification</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginservlet</servlet-name>
        <servlet-class>studentregistrationdetail.loginservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Studentsreg</servlet-name>
        <url-pattern>/Studentsreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudentreg</servlet-name>
        <url-pattern>/ViewStudentreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewspecificrecord</servlet-name>
        <url-pattern>/Viewspecificrecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSpecificServlet</servlet-name>
        <url-pattern>/DeleteSpecificServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudetail</servlet-name>
        <url-pattern>/UpdateStudetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginverification</servlet-name>
        <url-pattern>/Loginverification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginservlet</servlet-name>
        <url-pattern>/loginservlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
